# Node
node_modules
npm-debug.log
.DS_Store
*.cpuprofile

# Environment variables
.env

# Visual Studio Code
.vscode

# Application specific
client_files/*
server_files/*

/node_modules
bundle.js
npm-debug.log
.DS_Store

# Application secret and config
*config.js*